<div class="row">
  <div class="col s12">
    <div style="background-color: rgb(248, 248, 248);" class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
                   
                      <div class="item">
                        <p>Name</p>
                          <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Enter full name" required />
                          
                        
                      </div>
                        <div class="item">
                          <p>Position</p>
                          <input type="text" name="position" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Ex : Developer"/>
                        </div>
                    
                      
                      <div class="item">
                        <p>office</p>
                        <input type="text" name="office" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Enter office location"/>
                      </div>
                      <div class="item">
                        <p>Salary</p>
                        <input type="text" name="salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Annual Salary">
                      </div>
                    
                      <div class="btn-block">
                        <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                                <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                      </div>
                    </form>
          </div>
          <div class="col s7">
              <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let emp of employeeService.employees">
                    <td>{{emp.name}}</td>
                    <td>{{emp.position}}</td>
                    <td>{{emp.office}}</td>
                    <td>
                        <a class="action-btn" (click)="onEdit(emp)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>